html,body {
	margin:0;
	overflow:hidden;
	width:100%;
	height:100%;
	background:black;
	background:linear-gradient(to bottom,#000000 0%,#5788fe 100%);
	font-family: "Josefin Sans","Microsoft YaHei";
}
/*美化滚动条*/
::-webkit-scrollbar{
    width: 7px;
    height: 7px;
    background-color: #F5F5F5;
  }

  /*定义滚动条轨道 内阴影+圆角*/
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  /*定义滑块 内阴影+圆角*/
  ::-webkit-scrollbar-thumb{
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    background-color: #c8c8c8;
  }
.filter {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background:#fe5757;
	animation:colorChange 30s ease-in-out infinite;
	animation-fill-mode:both;
	mix-blend-mode:overlay;
}
@keyframes colorChange {
	0%,100% {
	opacity:0;
}
50% {
	opacity:.9;
}
}.landscape {
	position:absolute;
	bottom:0px;
	left:0;
	width:100%;
	height:100%;
	/*background-image:url(https://openclipart.org/image/2400px/svg_to_png/250847/Trees-Landscape-Silhouette.png);
	*/
    background-image:url('../images/xkbg.png');
	background-size:1000px 250px;
	background-repeat:repeat-x;
	background-position:center bottom;
}


a{text-decoration:none}
a:hover{text-decoration: none;}
a,a:hover,a:active,a:visited,a:link,a:focus{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    outline:none;
    background: none;
    text-decoration: none;
}
.tin-protect{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    overflow:auto;
    overflow-x: hidden;
}
.tin-nav-pc{
    width: 100%;
    height: 80px;
    line-height: 80px;
    color: #FFF;
}
.tin-nav-wap{
    width: 100%;
    height: 80px;
    line-height: 80px;
    color: #FFF;
    display: none;
}

.tin-logo,.tin-son-nav{
    display: inline-block;
}
.tin-logo{
    width: 30%;
    margin-top: 10px;
}
.tin-logo span{
    color: #FFF;
    font-size: 16px;
}
.tin-son-nav{
    text-align: right;
    width: 65%;
}
.tin-son-nav ul{
    display: inline-block;
}
.tin-son-nav ul li{
    display: inline-block;
}
.tin-son-nav ul li a{
    color: #FFF;
    font-size: 16px;
    padding: 10px 20px;
}
.tin-user-logo{
    margin-top: 150px;
    text-align: center;
}
.tin-user-logo img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border:5px solid rgba(111,111,111,0.4);
}
.tin-user-autograph{
    text-align: center;
    color: #FFF;
    margin-top: 20px;
}

.tin-footer{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 10px;
    text-align: center;
    color: #FFF;
    padding: 0 15px;
    padding-bottom: 20px;
}
.tin-footer p a{
    color: #ffc9b9;
}

.tin-fl-left{
    float: left;
}
.tin-fl-right{
    float: right;
}


.tin-nav-wap .tin-logo,.tin-nav-wap .tin-son-nav{
    height: 35px;
    line-height: 35px;
}

/*手机导航按钮*/

.tin-tw{
    display: inline-block;
}
.container-btn {
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  cursor: pointer;
}
.container-btn .close{
    opacity: 1;
}

.stick {
    width: 25px;
    height: 3px;
    border-radius: 4px;
    margin-bottom: 5px;
    background-color: #d7d7d7;
    display: inline-block;
}

.stick:last-child {
  margin-bottom: 0px;
}

.stick-1.open {
  animation: stick-1-open .3s ease-out forwards;
}

.stick-2.open {
  animation: stick-2-open .3s linear forwards;
}

.stick-3.open {
  animation: stick-3-open .3s linear forwards;
}

@keyframes stick-1-open {
  0%   {width: 25px;}
  40%  {background-color: #ff1456; width: 0.3px; transform: translate(13px, 0px);}
  75%, 80%  {width: 0.3px; transform: translate(13px, -17px); animation-timing-function: cubic-bezier(0,1,1,1);}
  100% {background-color: #ff1456; width: 0px; transform: translate(12px, 18px);}
}

@keyframes stick-2-open {
  80%  {background-color: #d7d7d7; transform: translate(0px, 0px) rotate(0deg);}
  100% {background-color: #ff1456; transform: translate(0.3px, 0px) rotate(45deg);}
}

@keyframes stick-3-open {
  80%  {background-color: #d7d7d7; transform: translate(0px, 0px) rotate(0deg);}
  100% {background-color: #ff1456; transform: translate(0.3px, -8px) rotate(-45deg);}
}

.stick-1.close {
  transform: translate(8px, 8px);
  animation: stick-1-close .3s ease-out forwards;
}

.stick-2.close {
  transform: translate(0px, 0px) rotate(12deg);
  animation: stick-2-close .3s ease-out forwards;
}

.stick-3.close {
  transform: translate(0px, -7px) rotate(-12deg);
  animation: stick-3-close .3s ease-out forwards;
}

@keyframes stick-1-close {
  0%, 70% {width: 0px;}
  100%    {width: 25px; transform: translate(0, 0);}
}

@keyframes stick-2-close {
  0%   {background-color: #ff1456; width: 25px;}
  20%  {background-color: #ff1456; width: 0.3px; transform: translate(0, 0px) rotate(12deg);}
  40%  {background-color: #d7d7d7; width: 0px;}
  65%  {transform: translate(0, -7px); animation-timing-function: cubic-bezier(0,1,1,1);}
  80%  {width: 0px;}
  100% {width: 25px; transform: translate(0, 0px);}
}

@keyframes stick-3-close {
  0%   {background-color: #ff1456; width: 25px;}
  20%  {background-color: #ff1456; width: 0.3px; transform: translate(0, -7px) rotate(-12deg);}
  40%  {background-color: #d7d7d7;}
  65%  {transform: translate(0, -30px); animation-timing-function: cubic-bezier(0,1,1,1);}
  90%  {width: 0.3px;}
  100% {width: 25px; transform: translate(0, 0px);}
}


/*手机导航按钮END*/

.tin-son-nav-wap{
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background: rgba(16,17,32,1);
    padding-top: 20px;
    display: none;
    overflow-x: hidden;
}
.tin-son-nav-wap.show{
    display: block;
    animation: tin-son-nav-wap-show .3s ease-out forwards;
    
}
.tin-son-nav-wap .tin-logo{
    width: 200px;
    text-align: center;
    margin-bottom: 20px;
}
.tin-son-nav-wap .tin-logo span{
    color: #FFF;
}
.tin-son-nav-wap ul{
    padding: 5px 20px;
    width: 200px;
    display: block;
}
.tin-son-nav-wap ul li{
    list-style-type: none;
    width: 160px;
    display: block;
}
.tin-son-nav-wap ul li a{
    display: block;
    width: 100%;
    padding: 8px 0;
    color: #a5a5af;
    border-bottom: 1px solid rgb(32,33,57,0.72);
    text-align: center;
    font-size: 18px;
}
@keyframes tin-son-nav-wap-show {
  0%   {width:0;}
  100% {width:200px;}
}

@media screen and (max-width: 767px) {
    .tin-nav-pc{
        display: none;
    }
    .tin-nav-wap{
        display: block;
    }
}

/*文章列表CSS*/
#archives,#nian-archives{
    width: 80%;
    margin: 15px auto;
}
#archives li,#nian-archives li{
    list-style-type: none;
}
#archives .al_year,#archives span,#archives a,#nian-archives .al_year,#nian-archives span,#nian-archives a{
    color: #FFF;
}
#archives a,#nian-archives a{
    height: 30px;
    display: inline-block;
    line-height: 30px;
}
.tin-nf li{
    display: inline-block;
    color: #c83ad5;
    padding: 2px 10px;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 0 #fff, 2px 2px 0 #ddd;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 13px;
    font-family: Consolas,Monaco,Menlo,Consolas,monospace;
    word-break: break-all;
    word-wrap: break-word;
    cursor: pointer;
}

/*文章内容css*/
.post-warp{
    color: #FFF;
    margin: 10px 10%;
    margin-top: 20px;
    padding-top: 40px;
    background: rgba(16,17,32,0.8);
    border-radius: 3px;
    margin-bottom: 40px;
}
.post-warp-title,.post-warp-info,.post-warp-content{
    padding: 10px 80px;
}
.post-warp-content{
    padding-bottom: 35px;
}
.post-warp-content p{
    line-height: 25px;
    color: #dedbdb;
}
.post-warp-content code{
    display: inline-block;
    color: #ff087f;
    background: inherit;
    border-radius: 0;
    font-size: 14px;
}
.post-warp-content img{
    max-width: 100%;
}
.post-warp-title h4{ 
    border-left: 3px solid #2196f3;
    padding-left: 10px;
    font-size: 22px;
}


@media screen and (max-width: 768px) {
    .post-warp-title, .post-warp-info, .post-warp-content {
        padding: 10px 50px;
    }
    .post-warp{
        margin-left: 7%;
        margin-right: 7%;
    }
}
@media screen and (max-width: 760px) {
    .post-warp-title, .post-warp-info, .post-warp-content {
        padding: 10px 20px;
    }
    .post-warp{
        margin-left: 1%;
        margin-right: 1%;
        padding-top: 15px;
        margin-top: 5px;
    }
}
/*文章评论*/
.t-article-comment{
    border-top: 1px solid #f2f2f2;
    padding-top: 30px;
    margin-top: 30px;
}

.t-comment-textarea{
    min-width: 100%;
    outline: none;
    border: none;
    background: #edf1f5;
    border-radius: 5px;
    padding: 10px 15px;
    padding-bottom: 60px;
    margin-bottom: 10px;
}
.t-comment-user .col-xs-6 input{
    width: 100%;
    height: 35px;
    border-radius: 3px;
    padding-left: 15px;
    outline: none;
    border: none;
    background: #edf1f5;
}

.t-comment-btn input{
    width: 100%;
    height: 35px;
    border-radius: 3px;
    outline: none;
    border: none;
    background: #276fff;
    color: #FFF;
}


.t-comment-title{
    border-left:3px solid #f12348;
    margin: 15px 0;
    padding-left: 20px;
}

.t-comment-list{
    
}
.t-comment-list-bolck{
    
}
.t-comment-user-img{
    width: 45px;
    height: 45px;
    background: #FFF;
    background-position: center!important;
    background-size: cover!important;
    border-radius: 5px;
    border: 1px solid #edf1f5;
    display: inline-block;
}
.t-comment-user-name{
    display: inline-block;
}
.t-comment-user-name h5{
    font-weight: bold;
    margin: 5px 0 10px 0;
}
.t-comment-user-name p{
    margin: 0;
    color: #8c8c8c;
    font-size: 10px;
}
.t-comment-content{
    margin-top: 10px;
    background: #f8f8f8;
    border-radius: 5px;
    padding: 15px;
    position: relative;
}
.t-comment-content:after{
    content: " ";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #f8f8f8;
    position: absolute;
    left: 20px;
    top: -6px;
}
.t-comment-reply{
    margin: 10px 0;
    cursor: pointer;
}

.t-comment-list>div{
    padding: 0;
}
.t-comment-content p{
    display: inline-block;
    margin: 0;
}
.t-comment-content img{
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

.t-shop-article{
    margin-bottom: 20px;
}
.t-comment-yi{
    border-bottom:1px solid #f2f2f2; 
    padding: 10px 0;
}
.t-comment-list-a>ol>div>div{
    padding-left: 45px;
}
#cancel-comment-reply-link {
    display: inline !important;
}

/*文章评论响应*/
@media screen and (max-width: 769px) {
    .t-comment-user .row{
        margin: 0;
    }
    .t-comment-btn{
        padding: 0;
        margin-top: 50px;
    }
    .t-comment-btn input{
        width: 100%;
    }
}

.re_img img{
    width: 30px;
    height: 30px;
}
.re_face{
    margin: 10px 0;
}
.comments-title{font-size:16px;line-height:1;position:relative;text-align:center;font-weight:600;margin-bottom:0;margin-top: 20px;font-family:PingFang SC,Hiragino Sans GB,Microsoft YaHei,STHeiti,WenQuanYi Micro Hei,Helvetica,Arial,sans-serif;margin-bottom:15px;}
.comments-title:before{
    display: block;
    content: '';
    border-top: 3px solid #e7e7e7;
    position: relative;
    top: 25px;
    z-index: 1;
    width: 30px;
    left: 0;
    right: 0;
    margin: auto;
}
.comments-title span{display:inline-block;padding:0 30px;background:#fff;position:relative;z-index:2;}
.t-a-pages{
    margin: 10px 0;
    width: 100%;
    height: 50px;
    background: #FFF;
    line-height: 50px;
    text-align: center;
}
.page-navigator li{
    display: inline-block;

}
.page-navigator li a{
    padding: 5px 10px;;
    background: #6d8199;
    margin: 0 10px;
    color: #FFFFFF;
    border-radius: 3px;
    line-height: 15px;
}
.page-navigator li a{
    color: #FFF;
}

/*改*/
.t-my-pl{
    padding: 15px 20px;
}
.t-my-pl li{
    list-style-type: none;
}
.t-comment-textarea{
    background: #1d1b34;
}
.t-comment-content{
    background: #3e3c5b;
}
.t-comment-content:after{
    border-bottom: 10px solid #3e3c5b;
}
.t-my-pl a{
    color: #FFF;
}
.t-comment-textarea{
    max-width: 100%;
}
.comment-list,.t-comment-list-bolck{
    padding: 0;
}
.t-comment-content a{color: #ffba06;}
/*文章评论区结束*/

.t-table{
    background: #EEE;
    color: #000;
}

.post-warp-content h3,.post-warp-content h4{
    position: relative;
    
    padding-left: 20px;
}
.post-warp-content h3{
    font-size: 22px;
}
.post-warp-content h3:before{
    content: '#';
    position: absolute;
    left: 0;
    top: 2;
    font-size: 18px;
    color: #ff08d5;
}
.post-warp-content h4:before{
    content: '#';
    position: absolute;
    left: 0;
    font-size: 18px;
    color: #4508ff;
}
.post-warp-content blockquote{
    background: #312e55;
    border-left: 5px solid #635ad3;
}
.post-warp-content a{
    color: #2d96bd;
}
.post-warp-content a:hover{
    color: #8508ff;
}




/*分类列表页面CSS*/
.tin-page-sort{
    color: #FFF;
    padding: 10px 150px;
    padding-top: 50px;
}
.tin-page-sort .col-md-6{
    min-height: 250px;
}
.tin-page-sort .col-md-6:nth-child(3n){
clear:left!important;
}
.tin-page-sort-list{
    padding: 15px;
}
.tin-page-sort-list ul li{
    list-style-type: none;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}
.tin-page-sort-list ul li a{
    color: #FFF;
    display: block;
    padding: 4px 0;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}
.tin-page-sort-list p a{
color: #FFF;
margin-left: 20px;
}


/*独立页面css*/
.tin-du-css{
    color:#FFF;
    margin: 10px 100px;
    padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
    .tin-page-sort{
    padding: 10px;
    }
    .tin-page-sort .col-md-6{
        min-height: auto;
    }
    .tin-du-g{
        width: 90%!important;
        margin: 0!important;
    }
    .tin-du-css{
        margin: 10px 25px;
    }
}



/*返回顶部*/

.toTop{
    position: fixed;
    right: 45px;
    bottom: 45px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    background: #635ad3;
    color: #FFF;
    z-index: 111;
    cursor: pointer;
}